---

import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import SparklesIcon from "../components/icons/SparklesIcon.astro"
import Torta from "../components/Torta.astro"
import Layout from "../layouts/Layout.astro"

const url =
  "https://docs.google.com/spreadsheets/d/e/2PACX-1vRdGVFGi2nR6Alm4QMNju7gwxLwbvK6pxUdqpiufCe93rSHv8GThwbuQ-7hJA-KOHfbMarXs6n5fjIE/pub?output=csv"

let tortas = []

async function fetchCSVData() {
  const response = await fetch(url)
  const data = await response.text()
  const cleanedData = data.replaceAll("\r", "")
  let tortas = cleanedData.split("\n").map((line, i) => {
    if (i === 0) return line.toLowerCase().split(",")
    return line.split(",")
  })

  const title = tortas[0]
  const [nombre, descripcion, precio, imagenes] = title

  return tortas.map((el) => {
    const [nombreTorta, descripcionTorta, precioTorta, imagenesTorta] = el
    return {
      [nombre]: nombreTorta,
      [descripcion]: descripcionTorta,
      [precio]: precioTorta,
      [imagenes]: imagenesTorta.split(";"),
    }
  })
}
try {
  tortas = await fetchCSVData()
} catch (error) {
  tortas = []
  console.log(error)
}
// tortas = [
//   {
//     nombre: "Lemon Pie",
//     descripcion: "Base de bizcochuelo con relleno de limón y cubierto de merengue",
//     precio: 12000,
//     imagenes: [
//       "https://img.freepik.com/foto-gratis/delicioso-pastel-limon-merengue-mesa-madera-ai-generativo_123827-24221.jpg?t=st=1722378697~exp=1722382297~hmac=b33ce70e6d07d28ec8c0858f3277d47920f79b2de5790496781044255c3692dc&w=1380",
//     ],
//   },
//   {
//     nombre: "Lemon Pie",
//     descripcion: "Base de bizcochuelo con relleno de limón y cubierto de merengue",
//     precio: 12000,
//     imagenes: [
//       "https://img.freepik.com/foto-gratis/delicioso-pastel-limon-merengue-mesa-madera-ai-generativo_123827-24221.jpg?t=st=1722378697~exp=1722382297~hmac=b33ce70e6d07d28ec8c0858f3277d47920f79b2de5790496781044255c3692dc&w=1380",
//     ],
//   },
//   {
//     nombre: "Brownie",
//     descripcion: "Para los fans del chocolate. Cubierto de merengue",
//     precio: 10000,
//     imagenes: [
//       "https://img.freepik.com/foto-gratis/tarta-pastel-brownie-chocolate-platos-caseros_114579-583.jpg?t=st=1722378798~exp=1722382398~hmac=50ab87b27407a3a514cbaa0dff759cfc4a8c72dc849726da4cd7c3348d550706&w=1380",
//       "https://img.freepik.com/foto-gratis/brownie-chocolate-plato-blanco_1150-20895.jpg?t=st=1722378821~exp=1722382421~hmac=356ea20c2fa7c1387aad3711620a8e3f19751a8e8404339d5b0686691b30c7de&w=1380",
//     ],
//   },
//   {
//     nombre: "Chocotorta",
//     descripcion: "Chocolinas y dulce de leche",
//     precio: 9000,
//     imagenes: [
//       "https://img.freepik.com/foto-gratis/alto-angulo-plato-pastel-cubiertos_23-2148489082.jpg?t=st=1722378921~exp=1722382521~hmac=88ef20395f9fb4edd8454f5bafee7be21358164bb64fe2f7932d71e82cbbbf43&w=1380",
//       "https://img.freepik.com/foto-gratis/vista-frontal-concepto-deliciosas-donas_23-2148761670.jpg?t=st=1722378937~exp=1722382537~hmac=b1a68cca3305da627cb1061330810780db68bfe637c519ea961c83047047f573&w=740",
//     ],
//   },
// ]
---

<Layout title="Dulce frenesí | Tortas caseras hechas con amor.">
  <Header id="main-header" />
  <Header />
  <div class="separador"></div>
  <Hero />
  <div class="container">
    <div class="anuncios">
      <div class="anuncio">
        <SparklesIcon size="32 " />
        <p>¡Tomamos pedidos con dos dias de anticipación!</p>
        <SparklesIcon size="32 " />
      </div>
    </div>
    <section id="tortas">
      {tortas.slice(1).map((torta, i) => <Torta torta={torta} esPar={i % 2 === 0} />)}
    </section>
    
    </div>
    <section id="testimonios">
      <!-- Aquí van los testimonios de los clientes -->
    </section>
    <section id="sobre-mi">
      <!-- Aquí va la información sobre el negocio -->
    </section>
    <section id="contacto">
      <!-- Aquí va la información de contacto -->
    </section>
  </div>
  <Footer />
</Layout>

<style>
  .separador {
    width: 100%;
    height: 50px;
  }

  .anuncios {
    padding: 50px 0rem;
  }

  .anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color-sec);
    color: var(--text-color);
    border-block: 2px solid var(--text-color);
    padding: 20px 16px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-wrap: balance;
  }
  .anuncio svg {
    /* width: 40px; */
    flex-shrink: 0;
    margin-inline-end: 10px;
  }

  @media screen and (min-width: 768px) {
    .anuncio {
      gap: 10px;
    }

    .only-mobile {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .only-desktop {
      display: none;
    }
  }
</style>
