<footer>
	<div class="container">
		<p>&copy; 2024 MiTorta. Todos los derechos reservados.</p>
	</div>
</footer>

<style>
footer {
	margin-top: 30px;
	text-align: center;
	padding: 2rem;
	background: var(--accent-color);
	color: #fff;
}
</style>