---
import CookieIcon from "./icons/CookieIcon.astro"
import LionIcon from "./icons/LionIcon.astro"
import WhatsappIcon from "./icons/WhatsappIcon.astro"

const { className = "", id = "" } = Astro.props
---

<div class={className + " header"} id={id}>
  <div class="container">
    <header>
      <div class="logo">
        <CookieIcon size="32" />
        Dulce frenesí</div>
      <nav>
        <ul>
          <li><a href="#tortas">Tortas</a></li>
          <!-- <li><a href="#sobre-mi">Sobre Mí</a></li> -->
          <li><a class="btn-whatsapp" href="https://wa.me/+543435229871"><WhatsappIcon size="24" />Encargar</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<style>
  #main-header.fixed {
    position: fixed;
    top: 0;
    transition: top .5s;

  }
  #main-header{
    position: absolute;
    top: -100px;
    z-index: 999;
  }
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 998;
    background: var(--accent-color);
    border-bottom: 2px solid white;
    color: var(--text-color);
    color: #f3f3f3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
  }

  nav ul li:nth-of-type(1) {
    display: block;
  }
  nav ul li {
    display: none;
  }

  nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.05rem;
  }

  .btn-whatsapp{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
  }

  @media (min-width: 500px) {
    nav ul li {
      display: block;
    }
  }
  @media (min-width: 768px) {
    .logo {
      font-size: 24px;
    }
  }
</style>
<script>
  const header = document.getElementById('main-header');
  let lastScrollTop = 0;

  function handleScroll() {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
    if (scrollTop > lastScrollTop && scrollTop > 150) {
      header.classList.add('fixed');
    } else if (scrollTop < 1) {
      header.classList.remove('fixed');
    }
    
    lastScrollTop = scrollTop;
  }

  window.addEventListener('scroll', handleScroll);
</script>
