<div class="header">
  <div class="container">
    <header>
      <div class="logo">🎂 Tortas Antito</div>
      <nav>
        <ul>
          <li><a href="#tortas">Tortas</a></li>
          <li><a href="#sobre-mi">Sobre Mí</a></li>
          <li><a href="#contacto">Encargar</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>
<style>
  .header {
    background: var(--bg-color-sec);
    background: #2b2b2b;
    /* background: var(--text-color); */
		/* background: var(--accent-color); */

    color: var(--text-color);
    color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  nav ul {
    list-style: none;
    display: flex;
		gap: 12px;
  }

  nav ul li:nth-of-type(1) {
    display: block;
  }
  nav ul li {
    display: none;
  }

  nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.05rem;
  }

  @media (min-width: 500px) {
    nav ul li {
      display: block;
    }
  }
  @media (min-width: 768px) {
    .logo {
      font-size: 24px;
    }
  }
</style>
