---
const { torta, esPar } = Astro.props
---

<div class={esPar ? "tortas right" : "tortas"}>
  <div class="image">
    <img src={torta.imagenes[0]} alt="" />
  </div>
  <div class="image-data">
    <h2>{torta.nombre}</h2>
    <p>{torta.descripcion}</p>
    <p class="price">${torta.precio}</p>
  </div>
</div>

<style>
  .tortas {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 50px;
    position: relative;
  }
  .image {
    width: 100%;
  }
  img {
    max-width: 100%;
    min-height: 300px;
    object-fit: cover;
  }

  .image-data {
    padding: 0.5rem;
    text-align: left;
  }
  .image-data h2 {
    text-transform: capitalize;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    margin-bottom: 4px;
		line-height: 1.4;
    font-family: "Rouge Script", cursive;
    font-weight: 800;
    font-style: italic;
  }

  .image-data p {
    font-size: clamp(1.1rem, 2.5vw, 1.65rem);
    color: var(--text-color-sec);
  }
  .image-data .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 10px;
  }

  @media screen and (min-width: 500px) {
    .tortas {
      flex-direction: row;
			align-items: center;
    }
    .image {
      width: 62%;
			height: 100%;
    }
    img {
      mask-image: linear-gradient(to right, black 78%, transparent);
    }
    .right img {
      mask-image: linear-gradient(to left, black 78%, transparent);
    }
    .image-data {
      position: absolute;
      z-index: 1;
      right: 0;
      width: 45%;
      text-align: left;
      padding: .8rem;
    }
    :not(.right) .image-data{
      padding-left: 2px;
    }
    .right .image-data {
      right: auto;
      left: 0;
      text-align: right;
      padding-right: 0;
    }
    .right.tortas {
      justify-content: end;
    }
  }
</style>
